body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 200px;
    height: 200px;
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.song-list li {
    margin-bottom: 10px;
}

.song-list a {
    display: block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.song-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
